@{
    ViewBag.Title = "About";
}
<body class="bg-principal">
<p class="pt-5">
<p class="pt-5">
    <h1 class="text-center"><img src="~/Content/Img/Logo.png" width="200" height="150"/>   MakeUp Forever</h1>

<p class="text-center">Esta es una pagina para la compra de maquillaje<br />
    Aqui podras encontrar alguno de tus productos favoritos<br />
    Los que mas estan de moda y los mejores del mercado</p>
    </body>