@{
    ViewBag.Title = "Contact";
}
<p class="pt-5">
<p class="pt-5">
    <h2 class="text-center">Contactanos</h2>


    <address class="text-center">
        ¡Bienvenidx, estamos listos para ayudarte!<br />
        Por favor contáctanos a través nuestro correo guadalupe.castillo17@tectijuana.edu.mx
    </address>

    <address class="text-center">
        <a href="https://www.facebook.com/Nyxcosmeticsmx/" title="Facebook"><img src="~/Content/Img/ficono.png" width="25" height="25"/></a>
        <a href="https://twitter.com/NYXcosmeticsMX?lang=es" title="Twitter"><img src="~/Content/Img/ticono.png" width="25" height="25" /></a>
        <a href="https://www.instagram.com/nyxcosmetics_mx/" title="Instagram"><img src="~/Content/Img/iicono.png" width="25" height="25" /></a>
    </address>
