@{
    ViewBag.Title = "Inicio";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Cosmeticos</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="~/Content/Img/Logo.png" width="150" height="100"/></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Acerca de</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contactanos</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Articulos</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a href="@Url.Action("Index", "Gamas")" class="nav-link">Marcas</a></li>
                        <li class="nav-item"><a href="@Url.Action("Index", "MAquillajes")" class="nav-link">Las mas destacado</a></li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Marcas de maquillaje en tendencia</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">La pagina hecha a tu estilo.</h2>

            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Encontraras las mejores marcas de maquillaje al momento</h2>
                    <p class="text-white-50">
                       Somos una pagina relacionada a las diferentes marcas de maquillaje existentes donde podras encontrar
                        contenido de cada una de ellas y enterarte de los nuevos lanzamientos de tus marcas favoritas.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="~/Content/Img/Chica.jpg" alt="" />
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container">
            <!-- Featured Project Row-->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="~/Content/Img/4bases.jpg" alt="" /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>4 Bases</h4>
                        <p class="text-black-50 mb-0">Reseña de bases economicas de alta covertura</p>
                        <p><a href="https://www.youtube.com/watch?v=n3cEgzmlvNw" />Ver mas</a></p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6"><img class="img-fluid" src="~/Content/Img/Brochas.jpg" alt="" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="featured-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Las mejores marcas de brochas de maquillaje</h4>
                                <p class="mb-0 text-white-50"><a href="https://sevilla.abc.es/estilo/bulevarsur/top-10/belleza/las-mejores-marcas-de-brochas-de-maquillaje/">Ver mas</a></p>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid" src="~/Content/Img/james.jpg" alt="" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="featured-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">James Charles</h4>
                                <p class="mb-0 text-white-50">A sus 17 años, el YouTuber James Charles tiene una corta pero significante 
                                trayectoria en el mundo de la belleza. Con sus videos, en los que publica sus técnicas y consejos para 
                                lograr un maquillaje perfecto para cualquier ocasión, se ganó la fama y
                                el respeto de miles de mujeres y hombres a nivel mundial que han imitado su estilo. </p>
                                <p><a href="https://us.hola.com/es/belleza/201610115629/james-charles-primer-hombre-embajador-covergirl/">Conoce mas</a></p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="contact-section bg-black" id="signup">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Direccion</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">Tijuana, B.C.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Correo</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50"><a href="#!">guadalupe.castillo17@tectijuana.edu.mx</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Telefono</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">+1 52 661 130 75 69</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="https://twitter.com/covergirl"><i class="fab fa-twitter"></i></a>
                <a class="mx-2" href="https://www.facebook.com/covergirl"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Cosmeticos 2020</div></footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>
