body {
    margin:0;
    padding:0;
}
.bg-principal {
    background-color: #F26AF6;
}
.back{
    background-image: url(../Content/makeup.jpg);
    background-position: top;
    background-repeat: no-repeat; 
}
.jumbotron {
    background-color: #F26AF6;
}
.gam {
    background-image: url(Img/back-gamas.jpg);
    background-position: top;
    background-repeat: no-repeat;
}
.marc {
    background-color: #F4A4F6;
}
.maqui {
    background-image: url(Img/kim.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}
.inicioreg {
    background-image: url(Img/logreg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}