body {
    margin:0;
    padding:0;
}
.bg-principal {
    background-color: #F26AF6;
}
.back{
    background-image: url(../Content/makeup.jpg);
    background-position: top;
    background-repeat: no-repeat; 
}
.jumbotron {
    background-color: #F26AF6;
}
